<section class="error-page">
  <!--open section-->
  <h2>Error</h2>
  <!-- this is the html header element-->
  <div class="error-message">
    <!-- div of error message (no header in div) -->
    <p><%= message || 'An error occurred' %></p>
    <!--an error message is shown depending on the http status-->
    <% if (status) { %>
    <p>Status: <%= status %></p>
    <!--error status code is displayed-->
    <% } %>
  </div>
  <!-- end div-->
  <a href="/" class="btn">Return to Home</a>
  <!-- html button element that redirects user to the home page onclick-->
</section>
<!-- end section-->
